---
import PhoneMockup from './PhoneMockup.astro';
---
<section class="flex items-center justify-center bg-gradient-radial from-gray-900 via-gray-700 to-gray-500 overflow-hidden">
         <PhoneMockup></PhoneMockup>    
</section>